<a href="https://colab.research.google.com/github/fernandapilat/bootcamp-data-analytics/blob/master/Desafio_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Desafio 4 - Futebol**

**Definição do problema:** Dado que você está trabalhando numa emissora de televisão, o narrador precisa informar o jogo com o maior número de gols na história da Bundesliga (Campeonato Alemão). Você precisa fazer uma busca em todos os jogos da história deste campeonato e verificar qual jogo é esse e passar a iformação ao narrador, para posteriormente, o narrador informar aos telespectadores.

1. Verificar os jogos com maior quantidade de gols na história da Bundesliga

2. Informar a data, os times participantes e o placar do jogo

**Código do dataset:** Bundesliga

**Dicas:**

- Criar uma nova variável "TotalGols" com o total de gols da 
partida;
- Use o método.max()

---

## **1.** Carregar bibliotecas e pacotes

**Importação da biblioteca Pydataset**

In [39]:
pip install pydataset

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pydataset in /usr/local/lib/python3.8/dist-packages (0.2.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from pydataset) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pydataset) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pydataset) (2022.7)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pydataset) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->pydataset) (1.15.0)

**Importação de pacotes**

In [40]:
from pydataset import data
import matplotlib.pyplot as plt
import pandas as pd

**Importação do dataset**

* O primeiro passo é carregar o dataframe do campeonato Bundesliga através da função `data()`.
* Nesse momento, atribui o dataframe ao objeto df_fut.

In [41]:
df_fut = data('Bundesliga')
df_fut.head(2)

,HomeTeam,AwayTeam,HomeGoals,AwayGoals,Round,Year,Date
1,Werder Bremen,Borussia Dortmund,3,2,1,1963,1963-08-24 09:30:00
2,Hertha BSC Berlin,1. FC Nuernberg,1,1,1,1963,1963-08-24 09:30:00

---

## **2.** Verificar os jogos com maior quantidade de gols na história da Bundesliga

**Criação da váriavel *TotalGols***
* **Passo 1:** nesta etapa optei por criar uma nova coluna com a soma das variáveis `AwayTeam` e `HomeGoals`.

In [42]:
#Passo 1
df_fut['TotalGols'] = df_fut['HomeGoals'] + df_fut['AwayGoals']
df_fut.head(2)

,HomeTeam,AwayTeam,HomeGoals,AwayGoals,Round,Year,Date,TotalGols
1,Werder Bremen,Borussia Dortmund,3,2,1,1963,1963-08-24 09:30:00,5
2,Hertha BSC Berlin,1. FC Nuernberg,1,1,1,1963,1963-08-24 09:30:00,2

**Explorar o dataframe para descobrir a maior quantidade de gols**

* **Passo 2:** utilizei a função `value_counts` na coluna TotalGols foi possível identificar que o maior número de gols no campeonato Bundesliga foi **12** e que esse placar ocorreu em **5** jogos.
* **Passo 3:** após classifiquei o dataframe pela coluna TotalGols com o intuito de localizar o id dos cinco primeiros jogos. Nessa fase, utilizei a função `sort_values` ao invés da função `max()`.

In [43]:
#Passo 2
df_fut['TotalGols'].value_counts(ascending = True)

12       5
11      10
10      24
9       47
8      148
7      367
6      855
0      914
5     1379
1     1723
4     2531
3     2812
2     3203
Name: TotalGols, dtype: int64

In [44]:
#Passo 3
df_fut.sort_values(by='TotalGols', ascending=False)

,HomeTeam,AwayTeam,HomeGoals,AwayGoals,Round,Year,Date,TotalGols
4457,Borussia Moenchengladbach,Borussia Dortmund,12,0,34,1977,1978-04-29 09:30:00,12
4052,1. FC Koeln,Tennis Borussia Berlin,8,4,23,1976,1977-02-26 09:30:00,12
2456,Bayern Muenchen,Borussia Dortmund,11,1,16,1971,1971-11-27 09:30:00,12
81,Borussia Dortmund,1. FC Kaiserslautern,9,3,11,1963,1963-11-16 09:30:00,12
5788,Borussia Dortmund,Arminia Bielefeld,11,1,12,1982,1982-11-06 09:30:00,12
...,...,...,...,...,...,...,...,...
10878,VfB Stuttgart,1. FC Nuernberg,0,0,26,1998,1999-04-13 13:30:00,0
10880,Werder Bremen,Hamburger SV,0,0,26,1998,1999-04-13 14:00:00,0
7562,Borussia Dortmund,Borussia Moenchengladbach,0,0,5,1988,1988-08-27 09:30:00,0
12974,VfB Stuttgart,Werder Bremen,0,0,20,2005,2006-02-08 14:00:00,0
8293,Wattenscheid 09,Bayer Uerdingen,0,0,19,1990,1991-03-01 13:30:00,0

**Filtro das informações dos jogos com mais gols**

* **Passo 4:** nesta fase, optei por utilizar a função `loc[]` para filtrar os cinco jogos com maior número de gols e criei um novo dataframe com todas as informações. Bem como, utilizei o método `reset_index` para remover o antigo índice, o objetivo é facilitar o `loc[]` para o print que informa ao locutor todos os jogos.

In [137]:
#Passo 4
df_fut_top5 = df_fut.loc[[4457, 4052, 2456, 81, 5788]]
df_fut_top5.reset_index(drop=True, inplace=True)
df_fut_top5.head()

,HomeTeam,AwayTeam,HomeGoals,AwayGoals,Round,Year,Date,TotalGols
0,Borussia Moenchengladbach,Borussia Dortmund,12,0,34,1977,1978-04-29 09:30:00,12
1,1. FC Koeln,Tennis Borussia Berlin,8,4,23,1976,1977-02-26 09:30:00,12
2,Bayern Muenchen,Borussia Dortmund,11,1,16,1971,1971-11-27 09:30:00,12
3,Borussia Dortmund,1. FC Kaiserslautern,9,3,11,1963,1963-11-16 09:30:00,12
4,Borussia Dortmund,Arminia Bielefeld,11,1,12,1982,1982-11-06 09:30:00,12

**Quais são os jogos com maior quantidade de gols?**

* **Passo 5:** construí o print que informa ao narrador os jogos com os maiores placares, para isso utilizei a função `loc[]` buscando diretamente no dataframe as infos, bem como a função `str()` para valores `int()`.

In [67]:
#Passo 5
print('Os cinco jogos com maior placar são: ')
print()
print('(1): ' + df_fut_top5.loc[0, 'HomeTeam'] + ' vs. ' + df_fut_top5.loc[0, 'AwayTeam'] + '. Quantidade total de gols: ' 
      + str(df_fut_top5.loc[0, 'TotalGols']) + '.\n'
      '(2): ' + df_fut_top5.loc[1, 'HomeTeam'] + ' vs. ' + df_fut_top5.loc[1, 'AwayTeam'] + '. Quantidade total de gols: ' 
      + str(df_fut_top5.loc[1, 'TotalGols']) + '.\n'
      '(3): ' + df_fut_top5.loc[2, 'HomeTeam'] + ' vs. ' + df_fut_top5.loc[2, 'AwayTeam'] + '. Quantidade total de gols: ' 
      + str(df_fut_top5.loc[2, 'TotalGols']) + '.\n'
      '(4): ' + df_fut_top5.loc[3, 'HomeTeam'] + ' vs. ' + df_fut_top5.loc[3, 'AwayTeam'] + '. Quantidade total de gols: ' 
      + str(df_fut_top5.loc[3, 'TotalGols']) + '.\n'
      '(5): ' + df_fut_top5.loc[4, 'HomeTeam'] + ' vs. ' + df_fut_top5.loc[4, 'AwayTeam'] + '. Quantidade total de gols: ' 
      + str(df_fut_top5.loc[4, 'TotalGols']) + '.'
)

Os cinco jogos com maior placar são:

(1): Borussia Moenchengladbach vs. Borussia Dortmund. Quantidade total de gols: 12.
(2): 1. FC Koeln vs. Tennis Borussia Berlin. Quantidade total de gols: 12.
(3): Bayern Muenchen vs. Borussia Dortmund. Quantidade total de gols: 12.
(4): Borussia Dortmund vs. 1. FC Kaiserslautern. Quantidade total de gols: 12.
(5): Borussia Dortmund vs. Arminia Bielefeld. Quantidade total de gols: 12.

---

## **3.** Informar a data, os times participantes e o placar do jogo

 **Print das informações para o jornalista**

Nessa última etapa não fica claro se o narrador quer saber as informações referentes aos cinco jogos ou apenas um jogo. Como no **enunciado** fica claro que é **apenas um jogo**, conforme a frase: ***o narrador precisa informar o jogo com o maior número de gols na história da Bundesliga (Campeonato Alemão)***, decidi então utilizar as variáveis número de gols e quantidade de rounds, atendendo respectivamente ao maior número de gols e menor número de rounds.

* **Passo 6:** Primeiro fiz a alteração do formato da data para remover as horas e deixá-la mais no formato brasileiro. Utilizei a função `pd.DatetimeIndex` e `strftime('%d/%m/%Y')`.
* **Passo 7:** Por último, utilizei a função print para informar o jogo com maior número de gols e menor número de rounds.

In [145]:
#Passo 6
df_fut_top5['Date'] = pd.DatetimeIndex(df_fut_top5['Date']).strftime('%d/%m/%Y')
df_fut_top5.head(5)

,HomeTeam,AwayTeam,HomeGoals,AwayGoals,Round,Year,Date,TotalGols
0,Borussia Moenchengladbach,Borussia Dortmund,12,0,34,1977,29/04/1978,12
1,1. FC Koeln,Tennis Borussia Berlin,8,4,23,1976,26/02/1977,12
2,Bayern Muenchen,Borussia Dortmund,11,1,16,1971,27/11/1971,12
3,Borussia Dortmund,1. FC Kaiserslautern,9,3,11,1963,16/11/1963,12
4,Borussia Dortmund,Arminia Bielefeld,11,1,12,1982,11/06/1982,12

In [147]:
#Passo 7
print('O jogo com o maior número de gols e menor round ocorreu no dia ' 
      + df_fut_top5.loc[3, 'Date'] + '\nentre os times ' + df_fut_top5.loc[3, 'HomeTeam'] + ' vs. ' 
      + df_fut_top5.loc[3, 'AwayTeam'] + ' com o total de ' + str(df_fut_top5.loc[3,'TotalGols']) 
      + ' gols e ' + str(df_fut_top5.loc[3, 'Round']) + ' rounds.')

O jogo com o maior número de gols e menor round ocorreu no dia 16/11/1963
entre os times Borussia Dortmund vs. 1. FC Kaiserslautern com o total de 12 gols e 11 rounds.

## **Resolução**

1. A lógica utilizada para a solução do desafio: 
2. Explicar como a squad se organizou:
3. As facilidades e dificuldades encontradas no desenvolvimento do desafio:

In [ ]:
#bundesliga = data('Bundesliga')
#bundesliga

In [ ]:
#df = bundesliga.join(TotalGols)
#df

In [ ]:
#TotalGols = bundesliga['HomeGoals'] + bundesliga['AwayGoals']
#TotalGols = pd.Series(TotalGols, name='TotalGoals')
#TotalGols

**Junção da variável *TotalGoals* com a tabela original**

In [ ]:
#df = bundesliga.join(TotalGols)
#df
#df.max()

In [ ]:
#df[df['TotalGoals'] == 12]